@model ScrapBookProject.Web.ViewModels.Pages.ScrapBookPagesViewModel
@using System.Security.Claims
@{
    var currentUserID = this.User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

<div class="text-center">
    <h1>@Model.Name</h1>
</div>
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div class="container">
                @if (Model.TotalBookPagesCount <= 0)
                {
                    <h3 class="text-center">It looks like your scrap book is empty.</h3>
                    if (currentUserID == Model.CreatorId)
                    {
                        <h3 class="text-center">Click the button to create your first page for it.</h3>
                        <div class="col-md-auto text-center">
                            <a class="btn btn-outline-primary" asp-controller="Pages" asp-action="AddPage"> Click to add a page </a>
                        </div>
                    }
                }
                else
                {
                    <div class="container">
                        <div class="row alert-dark" style="height: 500px">
                            @foreach (var page in Model.Pages)
                            {
                                <div class="col">
                                    <strong>@Html.Raw(page.PageNumber)</strong>
                                    <hr>
                                    @Html.Raw(page.SanitizedContent)

                                </div>
                            }
                        </div>
                        <hr>

                    </div>
                    <ul class="pagination justify-content-center">
                        <li class="page-item col-md-3">
                            <a class="page-link  @if (!Model.HasPreviousPage) { <text>disabled</text> } btn btn-dark text-white" asp-action="Pages" asp-route-id="@Model.PreviousPageNumber">Previous</a>
                        </li>
                        @if (currentUserID == Model.CreatorId)
                        {
                            <li class="page-item col-md-3" aria-current="page">
                                <a class="page-link btn btn-primary text-white" asp-controller="Pages" asp-action="AddPage"> Click to add a page </a>
                            </li>
                        }
                        <li class="page-item  col-md-3">
                            <a class="page-link btn btn-dark text-white " asp-action="Pages" asp-route-id="@Model.NextPageNumber">Next</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

    </script>
}
